; Proxy registry pointing to https://npm.gnivc.ru
registry=https://npm.gnivc.ru
@ff:registry=https://npm.gnivc.ru
@gnivc:registry=https://npm.gnivc.ru
@sandbox:registry=https://npm.gnivc.ru
@intauto:registry=https://artifactory.gnivc.ru/artifactory/api/npm/intauto-npm-local/

; Force auth to be used for GET requests
always-auth = true