.skeleton {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(24%, rgba(130, 130, 130, 0.2)),
    color-stop(36%, rgba(130, 130, 130, 0.1)),
    color-stop(64%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 24%,
    rgba(130, 130, 130, 0.1) 36%,
    rgba(130, 130, 130, 0.2) 64%
  );
  background-size: 400% 100%;
  animation: wave-lines 1.6s ease infinite;
}

@keyframes wave-lines {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
